---
---

@charset "utf-8";

$theme-primary: rgb(42,42,42);
$theme-secondary: rgb(240, 240, 240);
$theme-dark: #222;
$hover-color-primary: rgba(245, 225, 10, 0.8);
$hover-color-secondary: rgba(205, 30, 10, 1.0);
$white-smoke: rgba(white, .7);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
