---
layout: default
---

{% include header.html %}
<!-- ABOUT -->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-justify">
                <h2 class="section-heading">About the EVERTims project</h2>
                <!-- <hr class="light"> --> <!-- add a line-->
                <br>
                <p class="text-faded">EVERTims is an open source framework for real-time auralization. Given a virtual room (geometry and materials), the main EVERTims program simulates how acoustic waves propagates there, from defined sources to listeners objects. The results of this simulation can be used to feed a real-time auralization engine. With the <a class="text-faded link-on-primary-bg" href="https://www.blender.org/">Blender Game Engine</a> being used to create and explore the virtual room, and a <a class="text-faded link-on-primary-bg" href="https://puredata.info/">PureData</a> dataflow handling the auralization, the EVERTims framework enables virtual environment exploration, completing traditional visual rendering with realistic acoustics propagation.</p>
                <p class="text-faded">EVERTims framework is composed of three components: The EVERTims program itself (simulate audio propagation), a Blender module (design, visualize, and explore virtual environment), and a Pd patch (render real-time auralization based on EVERTims simulated propagation). More on these in the <a class="text-faded link-on-primary-bg" href="{{ site.baseurl }}/#getting-started">Getting Started</a> section.</p>
                <p class="text-faded">EVERTims was designed by ... at ... .</p>
            </div>
        </div>
    </div>
</section>

<!-- FRAMEWORK FEATURES -->
<section class="bg-secondary" id="feature-raytracing">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left">
                <h2 class="section-heading">Raytracing</h2>
                <p>Lorem ipsum</p>
            </div>
            <div class="col-sm-8 text-center">
                <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G3OfKG6xHxs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-primary" id="feature-auralization">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 text-center">
                <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G3OfKG6xHxs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <h2 class="section-heading">Auralization</h2>
                <p>Lorem ipsum</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary" id="feature-visualization">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left">
                <h2 class="section-heading">Visualization</h2>
                <p>Lorem ipsum</p>
            </div>
            <div class="col-sm-8 text-center">
                <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G3OfKG6xHxs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- GETTING STARTED -->
{% include getting-started.html %}

<!-- GALLERY -->
<section class="bg-secondary" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0 text-center">
                <h2 class="section-heading">Gallery</h2>
                <!-- <hr class="light"> -->
                <p>Other used it, have a look at their projects</p>
            </div>
        </div>
    </div>
</section>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/img/project-page.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project
                            </div>
                            <div class="project-name">
                                ESPRO Simulation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/img/project-page.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project
                            </div>
                            <div class="project-name">
                                ProjectName
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="{{ site.baseurl }}/img/project-page.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project
                            </div>
                            <div class="project-name">
                                ProjectName
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

{% include licence.html %}
{% include references.html %}
{% include contact.html %}
