<section id="feature-visualization">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left">
                <h2 class="section-heading">Visualization</h2>
                <p> blabla describe blabla.</p>
            </div>
            <div class="col-sm-8 text-center">
                <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/G3OfKG6xHxs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
