<!-- GETTING STARTED -->
<section class="bg-primary" id="getting-started">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading">Getting started</h2>
                <hr class="primary">
                <p> You'll want to start by installing the EVERTims raytracing software, which can then be completed by Blender and Pd addons designed for the occasion.</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
            <div align="middle" class="col-xs-4">
                <a href="{{ site.baseurl }}/pages/install-instructions.html#install-evertims" class="portfolio-box">
                    <img style="max-width:100px;" src="{{ site.baseurl }}/img/logo-evertims.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Setup
                            </div>
                            <div class="project-name">
                                EVERTims raytracing engine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div align="middle" class="col-xs-4">
                <a href="{{ site.baseurl }}/pages/install-instructions.html#install-blender" class="portfolio-box">
                    <img style="max-width:110px;" src="{{ site.baseurl }}/img/logo-blender.png" class="img-responsive" alt="">
                    <br>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Setup
                            </div>
                            <div class="project-name">
                                Blender vizualization and exploration
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div align="middle" class="col-xs-4">
                <a href="{{ site.baseurl }}/pages/install-instructions.html#install-puredata" class="portfolio-box">
                    <img style="max-width:100px;" src="{{ site.baseurl }}/img/logo-pd-extended.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Setup
                            </div>
                            <div class="project-name">
                                Pure Data auralization
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    </div>
</section>
