<!-- GETTING STARTED -->
<section class="bg-primary" id="getting-started">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading">Install</h2>
                <hr class="primary">
                <p> First install the EVERTims raytracing client, then the auralization engine, and finally the Blender add-on.</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
            <div align="middle" class="col-xs-4">
                <a href="{{ site.baseurl }}/pages/install-instructions.html#install-evertims" class="portfolio-box">
                    <img style="max-width:100px;" src="{{ site.baseurl }}/img/logo-evertims.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Setup
                            </div>
                            <div class="project-name">
                                EVERTims raytracing client
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div align="middle" class="col-xs-4">
                <a href="{{ site.baseurl }}/pages/install-instructions.html#install-puredata" class="portfolio-box">
                    <img style="max-width:100px;" src="{{ site.baseurl }}/img/logo-juce.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Setup
                            </div>
                            <div class="project-name">
                                JUCE auralization engine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div align="middle" class="col-xs-4">
                <a href="{{ site.baseurl }}/pages/install-instructions.html#install-blender" class="portfolio-box">
                    <img style="max-width:110px;" src="{{ site.baseurl }}/img/logo-blender.png" class="img-responsive" alt="">
                    <br>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Setup
                            </div>
                            <div class="project-name">
                                Blender add-on
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    </div>
</section>
