<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>EVERTims</h1>
            <br>
            <p>Open source framework for real-time auralization in architectural acoustics and virtual reality</p>

            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
        <div>
            <br> <br><br><br><br><br><br><br><br><br><br>
            <a href="https://github.com/EVERTims" class="btn btn-primary btn-xl page-scroll">Sources on GitHub</a>
        </div>
    </div>
</header>
