<header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>EVERTims</h1>
            <br>
            <p>Open source framework for real-time auralization in architectural acoustics and virtual reality</p>

            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            <p style="border:3px; border-style:solid; border-color:#FF0000; padding: 0.3em;">
            <i><font color="#FF0000">EVERTims framework under construction, not safe to use yet </font></i>
            <p>
        </div>
        <div>
            <br> <br><br><br><br><br><br><br><br><br><br>
            <a href="https://github.com/EVERTims" class="btn btn-primary btn-xl page-scroll">Sources on GitHub</a>
        </div>
    </div>
</header>
