


<section id="install-evertims">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Install EVERTims</h2>
                <p> blabla describe blabla.</p>
                <h2 class="section-heading">Install Blender</h2>
                <p> blabla describe blabla.</p>
                <h2 class="section-heading">Install Pd</h2>
                <p> blabla describe blabla.</p>
            </div>
        </div>
    </div>
</section>
