<section class="bg-secondary" id="references">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="section-heading">References</h2>
                <br>
            </div>
            <div class="col-xs-12 text-justify">
                <p>
                    You may use the following reference for any research making use of the EVERTims framework:
                </p>
                <p class="text-justify">
                    <a class="text-faded link-on-secondary-bg" href="https://mediatech.aalto.fi/~samuli/publications/laine2009aa_paper.pdf">[pdf]</a>
                    <b>S. Laine, S. Siltanen, T. Lokki, and L. Savioja, “<i>Accelerated beam tracing algorithm</i>”, Applied Acoustics, vol. 70, no. 1, pp. 172-181, 2009</b>
                </p>
                <br>
                <p>
                    For a complete description of the architecture of the EVERTims raytracing software itself, see:
                </p>
                <p class="text-justify">
                    <a class="text-faded link-on-secondary-bg" href="http://articles.ircam.fr/textes/Noisternig08a/index.pdf">[pdf]</a>
                    <b>M. Noisternig, B. Katz, S. Siltanen, and L. Savioja, “<i>Framework for real-time auralization in architectural acoustics</i>”, Acta Acustica United with Acustica, vol. 94, no. 6, pp 1000-1015, 2008</b>
                </p>

            </div>
        </div>
    </div>
</section>
