@mixin transition-all()
{
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    transition: all 0.05s;
}

@mixin background-cover()
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

@mixin button-variant($color, $background, $border)
{
    border:1.5px solid $border;
    border-radius: 10px;
    border-color: $border;
	color: $color;
	background-color: $background;
	@include transition-all;

	&:hover,
	&:focus,
	&.focus,
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		color: lighten($color, 40%);
		background-color: lighten($background, 15%);
    	border-color: lighten($border, 27%);
    	// border: 1px solid black;
	}
	&:active,
	&.active,
	.open > .dropdown-toggle & {
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&,
		&:hover,
		&:focus,
		&.focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}


@mixin link-variant($color, $color-hover)
{

    color: $color;
    text-decoration: underline;
    &:visited {
      color: $color;
    }
    &:hover {
      color: $color-hover;
    }
    &:focus {
      color: $color;
    }
    &:active {
      color: $color;
    }
}


@mixin sans-serif-font()
{
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font()
{
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
